@import "../../css/variables.css";

.header {
  position: relative;
  background-color: var(--white-color);
  padding: 24px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header > :nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
