.features {
  width: 631px;
  padding: 44px 80px;
  background-color: var(--header-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.propertyContainer {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #dadde1;
}
.details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.detailsItem {
  display: flex;
  justify-content: space-between;
}
